@import 'tailwindcss';
:root {
  font-family: 'Work Sans', sans-serif;

  @theme{
    --color-purple-100: #F8EEFF;
    --color-purple-600: #8B6990;
    --color-purple-950: #301534;

    --color-violet-600: #AD28EB;

    --text-preset-1: 56px;
    --leading-preset-1: 66px;
    --font-weight-preset-1: 700;

    --text-preset-2: 18px;
    --leading-preset-2: 21px;
    --font-weight-preset-2: 600;

    --text-preset-3: 16px;
    --leading-preset-3: 24px;
  }
}


